body{

    display: flex;
    justify-content: center;
   
    background-color: #034B61;
    
}

/* esse é o botão de fazer seu diagostico  */
.FacaoSeuDiagnosticoAqui{
    position: relative;
    top: 100px;
    width: 25rem;
    height: 4rem;
    border: solid 1px #032639;
    border-radius: 1.25rem;
    padding-left: 0.75rem;
    font-family: 'Noto Sans';
    font-size: 1.75rem;
    

    background-color: #C6FE1F;


}
.FacaoSeuDiagnosticoAqui:hover{
    transition: 2s;   
    
    background-color: #032639;

}


