.homepg04{

    background-color: black;
    display: grid;
    grid-template-columns:  20% 20% 20% 20% 20%;
    background-color: #034B61;

    
}
.bt_FacaoSeuDiagnosticoAqui{
     position: relative;
    top: 100px;
    width: 105rem;
    height: 4rem; 
    border: solid 1px #032639;
    border-radius: 1.25rem;
    padding-left: 0.75rem;
    font-family: 'Noto Sans';
    font-size: 2.75rem;
    
    align-content: center;
    grid-column: span 2/4;
    

    background-color: #C6FE1F;
}
.bt_FacaoSeuDiagnosticoAqui:hover{
    transition: 2s;   
    
    background-color: #032639;

  

}

.tx_textoHome04{

font-size: 2.5rem;

}
