

.modal{
width: 30%;
z-index: 100;
justify-self: center;
align-self: center;
border: none;
background-color: floralwhite (211,211,211);
border-radius: 5px;
transition: all 0.3s ease;
flex-direction:  column;
position: absolute;
z-index: 100;
}


.ModalOpen{
    display: flex;
}

img{

    width: 300px;
    height: 300px;
}